<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
<title>tipJS.com - Javascript MVC Framework Design Pattern</title>
<script src="../../tipJS/tipJS-MVC-1.24.js"></script>
<script>
window.onload = function(){
	tipJS.loadApp(["Template"]);
};
</script>
</head>
<body>
<h1>tipJS.com - Javascript MVC Framework <br />Design Pattern</h1>
<br />
    <h1 id="header"></h1>
    <div id="body"></div>
    <h2 id="footer"></h2>
    <input type="button" value="Controller 1"
    onclick="tipJS.action('Template.controller1')"/>
    <input type="button" value="Controller 2"
    onclick="tipJS.action('Template.controller2')"/>
<h4><a href="define.js" target="_blank">define.js</a></h4>
<h4>Template method pattern</h4>
<ul>
	<li>controllers</li>
	<ul>
		<li><a href="controllers/controller1.js" target="_blank">controller1.js</a></li>
		<li><a href="controllers/controller2.js" target="_blank">controller2.js</a></li>
	</ul>
</ul>
<ul>
	<li>models</li>
	<ul>
		<li><a href="models/DrawAbs.js" target="_blank">DrawAbs.js</a></li>
		<li><a href="models/modelA.js" target="_blank">modelA.js</a></li>
		<li><a href="models/modelB.js" target="_blank">modelB.js</a></li>
	</ul>
</ul>
</body>
</html>
